* {
			margin: 0;
			padding: 0;
			font-size: 30px;
			font-family: sans-serif;
		}
		section {
			padding: 10px;
		}
		img {
			box-sizing: border-box;
			border: 3px solid #6FA5D3;
			width: 100%;
			padding: 5%;
		}
		nav {
			margin-top: -10px;
		}
		li {
			list-style: none;
			width: 20%;
			display: block;
			float: left;
			padding: 5px;
			text-align: center;
		}
		button {
			background: none;
			border: none;
			color: #6FA5D3;
		}
		footer {
			padding-top: 10px;
			color: #6FA5D3;
		}
		footer h1{
			font-size: .7em;
			float: left;
		}
		.container {
			width: 20%;
			margin-right: 10px;
			float: left;
			background-color: #fff;
		}
		.box:hover {
			background-color: #6FA5D3;
		}
		.box:hover > button {
			color: white;
		}
		.box {
			box-sizing: border-box;
			border: 3px solid #6FA5D3;
			border-right: none;
			position: relative;
			color: #6FA5D3;
		}
		.box:last-child{
			border-right: 3px solid #6FA5D3;
		}
		.arrow-down {
			width: 10px; 
			height: 10px; 
			border-right: 3px solid #6FA5D3;
			border-bottom: 3px solid #6FA5D3;
			transform: rotate(45deg);
			background-color: white;
			position: absolute;
			bottom: -8px;
			right: 35%;
			z-index: -1;
		}
		.sizes {
			width: 108%;
			border: 3px solid #6FA5D3;
			box-sizing: border-box;
			position: absolute;
			bottom: 57px;
			right: -3px;
			opacity: 0;
			z-index: -1;
			background-color: white;
		}
		.swatch{
			padding: 13%;
			margin-bottom: 100%;
		}
		.sizes li:hover{
			color: white;
			background-color: #6FA5D3;
		}

		.color:hover > .sizes {
			position: absolute;
			bottom: 100%;
			right: -5%;
			opacity: 1;
			transition: .5s;
			z-index: 1;
		}
		.sizes li{
			float: none;
			text-align: center;
			width: 86%;
		}
		.sizes li.thing{
			height: 40%;
			width: 4%;
			float: left;
			margin: 3%;
			display: block;
		}
		.red{
		background-color: red;
		}
		.blue{
		background-color: blue;
		}
		.green{
		background-color: green;
		}
		.yellow{
		background-color: yellow;
		}
		/*.swatch {
			display: none;*/
		
		.price{
			float: right;
		}
		@media screen and (max-width: 1115px) {
			* {
				font-size: 25px;
			}
		}
		@media screen and (max-width: 980px) {
			* {
				font-size: 20px;
			}
			nav {
			margin-top: -7px;
			}
			.arrow-down {
				right: 25%;
		}
		@media screen and (max-width: 800px) {
			.container {
				width: 30%;
			}
			* {
				font-size: 20px;
			}
			nav {
			margin-top: -7px;
			}
			.arrow-down {
				right: 30%;
		}
		@media screen and (max-width: 500px) {
			.container {
				width: 40%;
			}
			* {
				font-size: 15px;
			}
			nav {
			margin-top: -6px;
			}
		}